body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);

}

.container {
    width: 1210px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

li {

    list-style: none;

}

nav ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;

}

.svglogo {
    padding-top: 10px;
}

nav ul :nth-child(2) {
    padding-top: 14px;
    padding-right: 237px;
}

nav ul :nth-child(3) {
    padding-top: 17px;
}

nav ul :nth-child(4) {
    padding-top: 17px;
}

nav ul :nth-child(5) {
    padding-top: 17px;
}

nav ul :nth-child(6) {
    padding-top: 17px;
}

nav ul :nth-child(7) {
    padding-top: 19px;
}

nav ul :nth-child(8) {
    padding-top: 19px;

}

nav ul :nth-child(9) {
    padding-top: 15px;

}

nav ul :nth-child(3) :hover {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}

nav ul :nth-child(4) :hover {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}

nav ul :nth-child(5) :hover {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}

nav ul :nth-child(6) :hover {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}

.imgtext {

    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #173A56;
    padding-top: 110px;
    color: var(--main-text-color);

}

.nav_text {

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    color: var(--main-text-color);

}

.nav_text_boss {

    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    color: var(--main-text-color);
}

.btn_href_one {

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    border: 1px solid #BCD0E5;
    padding: 10px 22.22px 9px 25.25px;
    border-radius: 4px;
    color: var(--main-text-color);
}

.btn_href_two {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;


    background-color: #02897A;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 10px 23px 9px 25px;
}

.bar {
    display: none;
   
}












.logoscliend{
    padding-top: 100px;
}

.logoscliend h3{
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #22343D;
width: 359px;
padding: 0;
margin: 0 auto;
color: var(--main-text-color);

}

.logoscust{
    display: flex;
    gap: 64.73px;
    padding-left: 135px;
    padding-top: 50px;
    padding-bottom: 138px;
   
    
}

.logoscust img{
    width: 159px;
height: 50px;


padding: 0;
}




.choose{
    background-color: #F5F5F5;
    width: 1440px;
    padding-top: 24px;
    background-color: var(--main-section-bg);
}
.chose-divs{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 1250px;
   margin: 0 auto;
   padding: 50px 0px 68px 145px;

   
}

.choose h3{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: #22343D;
    width: 383px;
    margin: 0 auto;
    color: var(--main-text-color);
}
.chose-card{
    width: 350px;
    height: 305px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    text-align: center;
}
.chose-card h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #22343D;
    margin: 0;
    color: var(--main-text-color);
}

.chose-card p{
    font-weight: 400;
font-size: 16px;
line-height: 27px;
text-align: center;
color: #22343D;
width: 275px;
margin: 0;
padding-left: 34px;
padding-top: 16px;
color: var(--main-text-color);
}

.chose-card img{
    padding: 32px 0px 32px 0px;
    margin: 0;
}







.product-work{
    padding-bottom: 115px;
    padding-top: 101px;
   
}
.product-work ul li{
    display: flex;
    gap: 90px;
}
.product-work ul :nth-child(1){
   
}
.onemac{
    padding-bottom: 100px;
}
.twomac{
    padding-bottom: 100px;
    flex-direction: row-reverse;
    justify-content: center;
}

.product-work h3{
    padding-bottom: 73px;
    font-weight: 700;
font-size: 34px;
line-height: 51px;
text-align: center;
width: 340px;
color: #22343D;
margin: 0 auto;
color: var(--main-text-color);
}

.step{
font-weight: 500;
font-size: 20px;
text-align: center;
color: #22343D;
width: 62px;
margin: 0;
padding-bottom: 16px;
color: var(--main-text-color);
}

.li-mac-text h6{
    font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #22343D;
width: 335px;
margin: 0;
padding-bottom: 16px;
color: var(--main-text-color);
}

.product_big{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #22343D;
width: 438px;
margin: 0;
color: var(--main-text-color);
}

.bottom-div-btn{
    width: 224px;
    margin: 0 auto;
    padding-top: 77px;
}

.product_btn-bottom{
    background-color: #02897A;
    padding: 11px 18px 11px 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 8px;

}






.expriense{
   
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
   width: 1440px;
   padding-top: 35px;
   width: 100%;
   background: var(--main-section-bg);
   
}



.expriense h3{
    font-weight: 700;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #22343D;
width: 537px;
margin: 0 auto;
color: var(--main-text-color);
}


.bussines{
    text-align: center;
}

.buss-enter{
    display: flex;
    flex-wrap: wrap;
    gap: 227px;
   margin: 0 auto;
    width: 900px;
    padding-left: 200px;
    padding-top: 93px;
}

.bussines h6{
    font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000000;
margin: 0;
padding-top: 27px;
color: var(--main-text-color);
}
.clash{
    font-weight: 400;
font-size: 18px;
line-height: 32px;

text-align: center;
color: #22343D;
color: var(--main-text-color);
}

.clash-bottom{
    font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #000000;
color: var(--main-text-color);
padding-bottom: 20px;
}



.chart {
    padding-top: 157px;
}

.join_card {
    display: flex;
    width: 968px;
    height: 345px;
    background-color: #02897A;
    border-radius: 32px;
    margin: 0 auto;

}

.join_text_btn {
    padding-left: 51px;
    padding-top: 19px;
}

.join_card h3 {
    width: 510px;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.join_name {
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}

.join_btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background-color: white;
    color: #02897A;
    padding: 13px 35px 7px 33px;
    border-radius: 8px;

}





.footerlogo {
    display: flex;
    gap: 16px;
}



.imgtext_footer {
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 28px;
    color: #173A56;
    color: var(--main-text-color);

}

.links {
    display: flex;
    gap: 24px;
    text-align: center;
    padding-left: 35px;
}

.footer_text {
    display: flex;
    gap: 90px;
    padding: 154px 0px 0px 0px;
}

.footer_text ul :nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
    color: var(--main-text-color);
}


footer li {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
    color: var(--main-text-color);
}

.footer_input {
    height: 48px;
    width: 325px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 10px 0px 10px 15px;




}

.input_about {
    height: 57px;
    width: 280px;
    padding-bottom: 34px;



}

.footer_btn {
    padding: 8px 15px 7px 15px;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px;
    background-color: #02897A;
    text-align: center;
    color: #FFFFFF !important;
    border-radius: 4px;
}

.btn_booter {
    padding-top: 29px;
}


.footer_paragr {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #22343D;
    width: 394px;
    margin: 0 auto;
    padding-top: 16px;
    color: var(--main-text-color);
}













.body-dark {
    --main-display: none;
    --main-bg-color: #1F2E35;
    --main-text-color: #fff;
    --main-input-color: #1F2E35;
    --main-section-bg: #22343D;


}





@media (max-width: 926px) {
    nav>ul{
        width: 100%;
    }
    nav ul :nth-child(2) {
        padding-top: 14px;
        padding-right: 177px;
      
       
    }

    nav ul :nth-child(3) {
        display: none;
    }

    nav ul :nth-child(4) {
        display: none;
    }

    nav ul :nth-child(5) {
        display: none;
    }

    nav ul :nth-child(6) {
        display: none;
    }
    .bar{
        display: block;
        padding-top: 14px;
    }





    .container {
        width: 96%;
      

    }


    .chose-divs{
        display: grid;
        grid-template-columns: auto auto;
        gap: 32px;
        margin: 0 auto;
        width: 100%;
       padding: 50px 0px 68px 20px;
    
    }


    .display-none{
        display: none;
    }

    .logoscust{
        padding-left: 10px;
        gap: 20px;
        flex-wrap: wrap;
     }

     .macimages{
        width: 300px;
     }

     .product-work ul li{
        display: flex;
        gap: 30px;
    }

    .buss-enter{
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 0;
        gap: 20px;
        padding: 0;
        width: 600px;
        padding-top: 85px;
     }

     
    .chart {
        padding-bottom: 100px;
    }

    .join_card {
        width: 828px;
        height: 408px;
        background-color: #02897A;
        border-radius: 32px;
        margin: 0 auto;
        


    }

    .join_card h3 {
        width: 408px;
        font-weight: 600;
        font-size: 32px;
        line-height: 151.4%;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 40px;

    }

    .join_btn {
        margin-left: 100px;
    }

    .join-svg{
        width: 400px;
        
    }

    .footer_text{
        display: block;
        justify-content: center;
        text-align: center;
    }
    .logos_div{
        padding-left: 280px;
    }
    .input_about{
        padding-left: 230px;
    }


}
   

   







@media (max-width: 576px) {


    nav ul :nth-child(2) {
        padding-top: 14px;
        padding-right: 87px;
    }

    nav ul :nth-child(3) {
        display: none;
    }

    nav ul :nth-child(4) {
        display: none;
    }

    nav ul :nth-child(5) {
        display: none;
    }

    nav ul :nth-child(6) {
        display: none;
    }

    nav ul :nth-child(7) {
        display: none;
    }

    nav ul :nth-child(8) {
        display: none;
    }

    .bar {
        display: block;
        padding-top: 13px;
        
    }
    .imgbar{
        width: 40px;
        height: 40px;
       
        
    }




    .container {
       width: 96%;
        padding: 0 20px;

    }
    .logoscust{
       display: grid;
       grid-template-columns: auto auto;
       padding-left: 0;
       
        
    }

    .chose-divs{
        display: grid;
        grid-template-columns: auto;
        gap: 32px;
        margin: 0 auto;
        width: 400px;
       padding: 50px 0px 68px 0px;
    
       
    }

    .product-work ul li{
        display: block;
        padding-left: 0;
       
    }
    .product-work ul{
        padding-left: 0;
    }

    .macimages{
        width: 400px;
        padding-bottom: 20px;
    }

    .bottom-div-btn{
        display: none;
    }

    .expriense h3{
    width: 351px;
    margin: 0 auto;
   
    }

    
.expriense{
   padding-top: 35px;
  
  
   
}



    .buss-enter{
       display: grid;
       grid-template-columns: auto;
       padding-left: 0;
       gap: 60px;
       padding: 0;
       width: 300px;
       padding-top: 85px;
    }




     
    .join_card {
        display: block;

        width: 448px;
        height: 688px;
        background-color: #02897A;
        border-radius: 32px;
        margin: 0 auto;
        


    }

    .join_card h3 {
        width: 328px;
        font-weight: 600;
        font-size: 32px;
        line-height: 151.4%;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 40px;

    }

    .join_btn {
        margin-left: 100px;
    }

    .footer_text {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0;

    }

    .footerlogo {
        padding-left: 10px;
    }

    .logos_div {
        padding-left: 110px;
        padding-bottom: 10px;
    }

    .input_about {
        padding-left: 90px;
        padding-bottom: 10px;
    }

    .footer_paragr {
        padding-bottom: 100px;
    }

    .chart {
        padding-bottom: 100px;
    }


}







